@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;1,800&family=Montserrat:wght@300&family=Ribeye+Marrow&display=swap');

:root {
  --green: rgb(107, 180, 107);
  --red: rgb(218, 132, 132);
  --blue: rgb(71, 71, 190);
}

/* GLOBAL */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Ribeye Marrow', cursive;
  font-size: 100px;
}


body {
  background: linear-gradient(to bottom right, rgb(250, 250, 250), rgb(207, 205, 226)) fixed;  
  font-family: 'Karla', sans-serif  
}

/* Starting Page */

.startingPage__container {
  display: flex;
  flex-direction: column;
}

.startingPage__animationContainer {
  display: flex;
  gap: 40px;
}

.startingPage__okCloud, .startingPage__exclamationMarkCloud, .startingPage__questionMarkCloud {
  display: flex;
  align-items: center;
  justify-content: center;  
  border-radius: 20px;
  height: 50px;
  width: 80px;
  color: #F5F7FB;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.startingPage__okCloud {
  background-color: var(--green);
  transform: rotate(-15deg);  
  }

.startingPage__questionMarkCloud {
  background-color: var(--red); 
}

.startingPage__exclamationMarkCloud {
  background-color: var(--blue);
  transform: rotate(15deg);
}

.startingPage__letterGreen {
  color: var(--green);
}

.startingPage__letterRed {
  color: var(--red);
}

/* FORM */

.form__container {
  margin-top: 40px;
  letter-spacing: 1px;
}

.form__container > form > input, select {
  width: 240px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  border-color : transparent;
  font-size: 20px;
  margin: 5px 0 25px 0;
  background-color: #F5F7FB;
  padding: 5px;
}

.form__container > form > label, .form__select > label {  
  font-weight: 600;
}

.form__container > form > input:focus, select:focus {
  outline-color: var(--green);
}

.form__container > form > button {
  margin-top: 20px;
  width: 240px;
  height: 52px;
  border-radius: 15px;
  background-color: var(--green);
  border: none;
  font-size: 30px;
}

.form__container > form > button:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.2);
}


/* APP */

.App {
  display: flex;
  align-items: center;   
  margin: 50px auto;  
  position: relative;
}

.App::before {
  content: url('./img/blobs.png');
  position: fixed;
  bottom: -550px;
  left: -80px;
  width: 40px;
  height: 560px;
  transform: rotate(-40deg);
  z-index: -1;
}

.App::after {
  content: url('./img/blobs\(2\).png');
  position: fixed;
  transform: rotate(-10deg);
  top: -200px;
  right: -200px;
  z-index: -1;  
}

.startingPage__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.main__page {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;  
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;  
  margin: 50px 75px;
  color: #293264;  
}

@media only screen and (min-width: 1200px) {
  .main__page {    
    margin: 50px auto; 
  }
}

.question__container:after{
  content :"";
  display: block;
  max-width: inherit;
  height: 1px;
  background: #a5acda;
  opacity: 0.5;   
  z-index: 99;
}

.question__answerConatainer {
  display: flex;  
  margin: 15px 5px 15px 5px;
}

.question__answerConatainer > span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  margin-right: 15px;
  padding: 5px 25px;
  border-radius: 8px;
  border: 1px solid #4D5B9E;
  cursor: pointer;    
}

.question__answerConatainer > span:hover {
  background-color: #D6DBF5;
  transition: all 0.5s ease-in;
  transform: scale(0.9);
}

.btn__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;  
}

.btn__container > button {
  font-size: 12px;
  border: none;
  background-color: #4D5B9E;
  color: #F5F7FB;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  margin: 0 40px 0 40px;
}

.btn__container > button:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.2);
}